{% include header.html %}

  <div class="container">
    <div class="article">
      <article>
        <div class="post-date">
          Last Updated: 01/31/19
        </div>

        <h1 class="post-title">
          Sample Work
        </h1>
        <div class="post-body">
        Software: <a href="/poker-sim">poker sim</a>, <a href="/mag-widget">Doodle widget</a>, <a href="/minesweep">minesweeper</a>.<br><br>

        Hardware: <a href="/battlebot">15lb battlebot</a>, <a href="/unifried">R/C aircraft</a>, <a href="/maslab">MASLAB</a>.<br><br>

        Academia: <a href="/ccf">bubbles in space</a>, <a href="/math">math</a>, <a href="/mooc-privacy">edtech policy</a>.<br><br>

        Leadership: <a href="/lom">Lean On Me</a>, <a href="/prez-scholars">Presidential Scholars</a>, <a href="/techess">Tech Chess</a>.<br><br>

        Creative and Culinary: <a href="/music">music</a>, <a href="/writing">writing</a>, <a href="/food" target="_blank">food</a>.<br>
        </div>
<!--
        <h1 class="post-title">
          Employment History
        </h1>
        <div class="post-body"> write description, image and links (map, web, etc) for each thingy
          Nonprofit Cofounder, CEO, Director
          Lean On Me
          Bulk of contribution as founder and CEO
          designed stuff, advocated, recruited, applied, PM
          GFSA etc.
          Director: 2015-present

          Admin, Teacher, Tutor 2008-present
          - STLCC
          - Mathnasium
          - e3 Civic High
          - MIT Interphase, 6.01 TA, tour guide
          - Bainbridge Chess
          - Private, volunteer, etc.

          VC Analyst

          Government Program Advisor

          Social Media Analyst

          Vehicle Engineering and Additive Manufacturing Intern

          Bitcoin Campus Rep / Ambassador

          Engineering Technician / Startup Intern

          Space Station Research Intern

          Software Development Intern SE-FIT

          Cook

          Stock boy, hermie cleaner, Cashier

        </div>

        <h1 class="post-title">
          Education
        </h1>
        <div class="post-body">
          MIT in 3 years, awards etc. advisors, mentors/muses formal/informal (Moitra, Sipser, Barnhart, Peraire, Seth Lloyd, Junot Diaz)
          PSU
          Lincoln
          Nicolet
          Maple Dale
          Oriole Lane

          https://mitadmissions.org/blogs/entry/a_look_at_unified_engineering/
          https://www.quora.com/What-is-MIT-Unified-Engineering-and-why-is-it-so-notorious
          https://news.ycombinator.com/item?id=2587409
        </div>

        <h1 class="post-title">
          Frequently Asked Questions
        </h1>
        <div class="post-body">
          PM role dreams, software development, writing, community, reading, better world, also exercising and being a vegetable, eating unholy amounts of food
          uniqueness -- story
          gratitutde to peoples
        </div>

        <h1 class="post-title">
          Press Coverage
        </h1>
        <div class="post-body">
          - [Portland teen Andy Trattner, tops in Oregon at chess, Spanish, robotics, lends talent to NASA](http://www.oregonlive.com/education/index.ssf/2014/05/portland_teen_andy_trattner_to.html){:target="_blank"}, _The Oregonian_, 5/13/14
          - [Oregon's Andy Trattner:
          From Chess to MIT](/img/press/nwc-2014.pdf){:target="_blank"}, _Northwest Chess Magazine_, July 2014
          - [Capillary Channel Flow (CCF) EU2–02 on the
          International Space Station (ISS): An Experimental
          Investigation of Passive Bubble Separations in an
          Open Capillary Channel](https://ntrs.nasa.gov/archive/nasa/casi.ntrs.nasa.gov/20160001341.pdf){:target="_blank"}, _NASA_, June 2015
          - [Lean On Me to offer anonymous venue for student support](http://tech.mit.edu/V136/PDF/V136-N2.pdf){:target="_blank"}, _The Tech_, 2/5/16
          - MIT students turn their brainpower toward suicide prevention, _AP_, 2/15/16, via [FOX News](http://www.foxnews.com/health/2016/02/15/mit-students-turn-their-brainpower-toward-suicide-prevention.html){:target="_blank"}, [Salon.com](https://www.salon.com/2017/01/02/inconvenient-truths-of-mental-illness-more-people-take-medication-but-progress-has-stalled_partner/){:target="_blank"}, [Seattle Times](https://www.seattletimes.com/seattle-news/health/mit-students-turn-their-brainpower-toward-suicide-prevention/){:target="_blank"}, [Boston Herald](http://www.bostonherald.com/news/local_coverage/2016/02/mit_students_turn_their_brainpower_toward_suicide_prevention){:target="_blank"}
          - [MIT Students Use Their Coding Skills For Suicide Prevention](https://www.nbcnews.com/feature/college-game-plan/mit-students-use-their-smarts-create-texting-hotline-prevents-suicide-n528796){:target="_blank"}, _NBC News_, 3/2/16
          - [MIT Students Create Suicide Prevention Service](https://www.campussafetymagazine.com/heroes/mit_students_create_suicide_prevention_service/){:target="_blank"}, _Campus Safety Magazine_, 3/7/16
          - [Career Fair Directors enact measures to boost employer diversity](https://thetech.com/2016/09/23/cfd-measures-boost-employer-diversity){:target="_blank"}, _The Tech_, 9/23/16
          - [The Ability to Inspire: U.S. Presidential Scholars National Recognition Program from an Advisor's Perspective](https://blog.ed.gov/2017/07/the-ability-to-inspire/){:target="_blank"}, U.S. Department of Education, 7/13/17
          - [Pillar 2017 Year in Review](http://pillar.vc/2017-in-review.pdf){:target="_blank"}, _Pillar Companies_

          https://mitadmissions.org/blogs/entry/red-bull-gives-you-paper-wings/

        </div>-->

      </article>
    </div>
  </div>

{% include footer.html %}
